{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container">
        <!-- lists activities, with edit/delete buttons and add activities form -->
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('myTrips') }}">My Trips</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('showTrip', tripId=tripId) }}">{{ tripName }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ destName }}</li>
            </ol>
        </nav>
        <h1>{{ tripName }} - {{ destName }} - Activities</h1>
        <table class="table">
            <thead>
                <th>Activity Name</th>
                <th>Activity Type</th>
                <th>Cost</th>
                <th>Notes</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for a in activities %}
                    <tr>
                        <td>
                            {{ a[1] }}
                        </td>
                        <td>
                            {% if a[2] %}
                                {{ a[2] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if a[3] %}
                                {{ a[3] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if a[4] %}
                                {{ a[4] }}
                            {% endif %}
                        </td>
                        <td>
                            <a class= "btn btn-warning" href="{{ url_for('editActivity', tripId=tripId, destId=destId, actId=a[0]) }}">Edit</a>
                        </td>
                        <td>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ a[0] }}">Delete</button>
                        </td>
                    </tr>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal{{ a[0] }}" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModelLabel">Confirm Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this activity?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form action="{{ url_for('deleteActivity', tripId=tripId, destId=destId, actId=a[0]) }}" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
        <div align="left">
            <a class= "btn btn-success" href="{{ url_for('newActivity', tripId=tripId, destId=destId) }}">Add New Activity</a>
        </div>
    </div>
{% endblock %}