{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container">
        <!-- lists destinations, with edit/delete buttons and add destination form -->
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('myTrips') }}">My Trips</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ tripName }}</li>
            </ol>
        </nav>
        <h1>{{ tripName }} - Destinations</h1>
        <table class="table">
            <thead>
                <th>Destination Name</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
                <th>Activities</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for d in destinations %}
                    <tr>
                        <td>
                            {{ d[1] }}
                        </td>
                        <td>
                            {% if d[3] %}
                                {{ d[3] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if d[4] %}
                                {{ d[4] }}
                            {% endif %}
                        </td>
                        <td>
                            <a class= "btn btn-info" href="{{ url_for('showDestination', tripId=tripId, destId=d[0]) }}">View</a>
                        </td>
                        <td>
                            <a class= "btn btn-warning" href="{{ url_for('editDestination', tripId=tripId, destId=d[0]) }}">Edit</a>
                        </td>
                        <td>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ d[0] }}">Delete</button>
                        </td>
                    </tr>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal{{ d[0] }}" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="deleteModelLabel">Confirm Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this destination?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form action="{{ url_for('deleteDestination', tripId=tripId, destId=d[0]) }}" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
        <div align="left">
            <a class= "btn btn-success" href="{{ url_for('newDestination', tripId=tripId) }}">Add New Destination</a>
        </div>
    </div>
{% endblock %}