{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('myTrips') }}">My Trips</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('showTrip', tripId=tripId) }}">{{ tripName }}</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('showDestination', tripId=tripId, destId=destId) }}">{{ destName }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Activity</li>
        </ol>
    </nav>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Edit Activity</legend>
            <div class="form-group required">
                {{ form.activityName.label(class="form-control-label") }}
                {{ form.activityName(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.activityCost.label(class="form-control-label") }}
                {{ form.activityCost(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.activityType.label(class="form-control-label") }}
                {{ form.activityType(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.activityNote.label(class="form-control-label") }}
                {{ form.activityNote(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="form-control") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}