{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <!-- lists trip names, with edit/delete buttons -->
    {% if trips %}
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">My Trips</li>
            </ol>
        </nav>
        <h1>My Trips</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Trip Name</th>
                    <th>Number of People</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Destinations</th>
                    <th>Edit</th> 
                    <th>Delete</th>
                </tr> 
            </thead>
            <tbody> 
                {% for trip in trips %}
                    <tr>
                        <td>
                            {{ trip[1] }}
                        </td>
                        <td>
                            {% if trip[3] %}
                                {{ trip[3] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if trip[4] %}
                                {{ trip[4] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if trip[5] %}
                                {{ trip[5] }}
                            {% endif %}
                        </td>
                        <td>
                            <a class= "btn btn-info" href="{{ url_for('showTrip', tripId=trip[0]) }}">View</a>
                        </td>
                        <td>
                            <a class= "btn btn-warning" href="{{ url_for('editTrip', tripId=trip[0]) }}">Edit</a>
                        </td>
                        <td>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </td>
                    </tr>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="deleteModelLabel">Confirm Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this trip?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form action="{{ url_for('deleteTrip', tripId=trip[0]) }}" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div align="left">
        <a class= "btn btn-success" href="{{ url_for('newTrip') }}">Add New Trip</a>
    </div>    

</div>
{% endblock %}