{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('myTrips') }}">My Trips</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('showTrip', tripId=tripId) }}">{{ tripName }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('showDestination', tripId=tripId, destId=destId) }}">{{ destName }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add New Activity Type</li>
        </ol>
    </nav>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ legend }}</legend>
            <div class="form-group required">
                {{ form.activityType.label(class="form-control-label") }}
                {% if form.activityType.errors %}
                    {{ form.activityType(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.activityType.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.activityType(class="form-control") }}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.submit(class="form-control") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}