{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ legend }}</legend>
            <div class="form-group required">
                {{ form.tripName.label(class="form-control-label") }}
                {{ form.tripName(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.numberOfPeople.label(class="form-control-label") }}
                {{ form.numberOfPeople(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.startDate.label(class="form-control-label") }}
                {{ form.startDate(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.endDate.label(class="form-control-label") }}
                {{ form.endDate(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="form-control") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}