{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('myTrips') }}">My Trips</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ legend }}</li>
        </ol>
    </nav>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ legend }}</legend>
            <div class="form-group required">
                {{ form.tripName.label(class="form-control-label") }}
                {{ form.tripName(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.numberOfPeople.label(class="form-control-label") }}
                {{ form.numberOfPeople(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.startDate.label(class="form-control-label") }}
                {{ form.startDate(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.endDate.label(class="form-control-label") }}
                {% if form.endDate.errors %}
                    {{ form.endDate(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.endDate.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.endDate(class="form-control") }}
                {% endif %}    
            </div>
            <div class="form-group">
                {{ form.submit(class="form-control") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}