.menu
{
    background: aqua;
    border-bottom: 2px solid black;
}

.title-font
{
    font-family: 'Damion', cursive;
}

#title-index
{
    text-align: center;
    font-size: 4em;
}

.required::before  
{   
    color: red;
    font-weight: bold;
    content: " *";
}