.menu
{
    background: aqua;
    border-bottom: 2px solid black;
}

#title
{
    font-family: 'Damion', cursive;
}

.required::before  
{   
    color: red;
    font-weight: bold;
    content: " *";
}