{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to Let's Go, the Amazing Trip Planner</h1>
        
        <h3>List of Pages</h3>
        <p>My Trips: lists all trips for that user; can view, edit, and delete trips. Each trip contains destinations, and each destination can have activities. Follow the edit/view links to see these pages.</p>
        <p>Add Trip: add a new trip</p>
        <p>New User: make new user profile</p>
        <p>Switch User: change to another user (no password needed!)</p>

        {{ result }}
    </div>

{% endblock %}
