{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <!-- lists trip names, with edit/delete buttons -->
    {% if trips %}
        
        <h1>My Trips</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Trip Name</th>
                    <th>Number of People</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Destinations</th>
                    <th>Edit</th> 
                    <th>Delete</th>
                </tr> 
            </thead>
            <tbody>
                {% for trip in trips %}
                    <tr>
                        <td>
                            {{ trip[1] }}
                        </td>
                        <td>
                            {% if trip[3] %}
                                {{ trip[3] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if trip[4] %}
                                {{ trip[4] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if trip[5] %}
                                {{ trip[5] }}
                            {% endif %}
                        </td>
                        <td>
                            <a class= "btn btn-info" href="{{ url_for('showTrip', tripId=trip[0]) }}">View</a>
                        </td>
                        <td>
                            <a class= "btn btn-warning" href="{{ url_for('showTrip', tripId=trip[0]) }}">Edit</a>
                        </td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <!-- lists destinations, with edit/delete buttons and add destination form -->
    {% if tripName %}
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('myTrips') }}">My Trips</a></li>
            <li class="breadcrumb-item active" aria-current="page">Destinations</li>
            </ol>
        </nav>
        <h1>{{ tripName }} - Destinations</h1>
        <table class="table">
            <thead>
                <th>Destination Name</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
                <th>Activities</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for d in destinations %}
                    <tr>
                        <td>
                            {{ d[1] }}
                        </td>
                        <td>
                            {% if d[3] %}
                                {{ d[3] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if d[4] %}
                                {{ d[4] }}
                            {% endif %}
                        </td>
                        <td>
                            <a class= "btn btn-info" href="{{ url_for('showDestination', tripId=tripId, destId=d[0]) }}">View</a>
                        </td>
                        <td>
                            <a class= "btn btn-warning" href="{{ url_for('showDestination', tripId=tripId, destId=d[0]) }}">Edit</a>
                        </td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Add Destination</legend>
                <div class="form-group required">
                    {{ form.destinationName.label(class="form-control-label") }}
                    {{ form.destinationName(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.arriveDate.label(class="form-control-label") }}
                    {{ form.arriveDate(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.leaveDate.label(class="form-control-label") }}
                    {{ form.leaveDate(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="form-control") }}
                </div>
            </fieldset>
        </form>

    {% endif %}

</div>
{% endblock %}